/*收藏夹*/
.favorite-column{
    margin-top:40px;
}
.favorite-item-column{
    background-color:#fff;
    border-radius: 5px;
    padding:20px;
}
.favorite-item-head{
    border-bottom: solid 1px #ccc;
}
.favorite-item-head .nav a{
    font-size: 10px;
    padding:5;
}
.favorite-list{
    margin-top:20px;
}
.favorite-list .d-flex{
    margin-bottom:30px;
}
.favorite-list .card{
    width:31%;
    border:none;
}
.favorite-list .card:hover{
    box-shadow: 0 0 1px 1px #ddd;
}
.favorite-list .card a:hover{
    text-decoration: none;
}
.favorite-list .card .card-body{
    padding:10px;
}
.favorite-list .card .card-body .card-text{
    font-size: 13px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.favorite-list .card .item-bottom{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    font-size: 10px;
}
.favorite-list .card .item-bottom .dropdown .dropdown-menu{
    min-width: 0;
}
.favorite-list .card .item-bottom .dropdown .dropdown-menu .dropdown-item{
    font-size: 12px !important;
}
.favorite-folder-column .disabled{
    font-size: 16px;
    padding-top:20px !important;
    padding-bottom:20px !important;
}
.favorite-folder-column .list-group-item{
    padding-top:15px;
    padding-bottom:15px;
    border:none;
}
.favorite-folder-column .list-group-item p{
    display: inline;
    font-size: 13px;
    margin-left: 15px;
}